<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnet236.asta" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cnet236.asta.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cnet236.asta.ControlListActivity"
            android:label="@string/title_control_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cnet236.asta.ControlDetailActivity"
            android:label="@string/title_control_detail"
            android:parentActivityName="com.cnet236.asta.ControlListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cnet236.asta.ControlListActivity" />
        </activity>
        <activity
            android:name="com.cnet236.asta.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>
